<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Google Web Fonts
================================================== -->

  {% assign font = "'Arvo', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  {% endif %}  

  {% assign font = "'Glegoo', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Lato', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  {% endif %}  

  {% assign font = "'Lobster', cursive" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  {% endif %}   

  {% assign font = "'Lobster Two', cursive" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Lobster+Two:400,700' rel='stylesheet' type='text/css'>
  {% endif %}   

  {% assign font = "'Montserrat', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  {% endif %}  

  {% assign font = "'Noticia Text', serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Noticia+Text:400,700' rel='stylesheet' type='text/css'>
  {% endif %}     

  {% assign font = "'Open Sans', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}  

  {% assign font = "'Open Sans Condensed', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Oswald', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'PT Sans', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  {% endif %}    

  {% assign font = "'PT Sans Narrow', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  {% endif %} 

  {% assign font = "'Questrial', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  {% endif %}   

  {% assign font = "'Raleway', sans-serif" %}
  {% if settings.logo-font == font or settings.font == font or settings.headings_font == font or settings.navigation-font %}
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  {% endif %}    


  <!-- Basic Page Needs
================================================== -->

  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />


  <!-- Mobile Specific Metas
================================================== -->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
================================================== -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}  
  {{ 'layout.css' | asset_url | stylesheet_tag }}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fs.selecter.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
  {{ 'font-awesome.css' | asset_url | stylesheet_tag }}


  <!--[if IE 7]>
{{ 'ie7.css' | asset_url | stylesheet_tag }}
<![endif]-->

  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- JS
================================================= -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  {{ 'theme.js' | asset_url | script_tag }}  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'jquery.flexslider.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
  {{ 'jquery.fs.selecter.min.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }} 
  {{ 'jquery.elevatezoom.js' | asset_url | script_tag }}  
  {{ 'jquery.placeholder.js' | asset_url | script_tag }}  
  {{ 'jquery.cookie.js' | asset_url | script_tag }}

  {% if template == 'index' %}
  {{ 'instafeed.js' | asset_url | script_tag }}
  {% endif %}    


  <!--[if (gte IE 6)&(lte IE 8)]>
{{ 'selectivizr-min.js' | asset_url | script_tag }}
<![endif]-->   

  {{ content_for_header }}

  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicons
================================================== -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">


</head>

<body class="gridlock">

  <div id="wrapper" class="container">
    <div id="header" class="row">	

      <div id="search" class="desktop-3 tablet-1 mobile-3">
        <form action="/search" method="get">
          <i class="fa fa-search"></i>
          <input type="text" name="q" id="q" class="search-field" placeholder="{{ 'general.search.placeholder' | t }}" />
        </form>
      </div>

      <div id="logo" class="desktop-6 tablet-4 mobile-3">
        {% if settings.use_logo_image %}
        <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" style="border: 0;"/></a>
        {% else %}
        <a href="/">{{ shop.name }}</a>
        {% endif %}
      </div> 


      <ul id="cart" class="desktop-3 tablet-1 mobile-3">
        {% if shop.customer_accounts_enabled %}
        <li>

          {% if customer  %}
          <a href="/account/login">{{ 'customer.account.title' | t }}</a>
          {% else %}
          <a href="/account/login">{{ 'customer.account.title' | t }}</a>
          {% endif %}

          {% endif %}
        </li>
        {% if cart.item_count != 0 %}
        <li>
          <a href="/cart">{{ 'cart.general.title' | t }}: (<span class="cart-count">{{ cart.item_count }}</span>)</a>
        </li>
        {% endif %}

      </ul> 

    </div>  <!-- End Header -->

    <div class="clear"></div>    

    <div id="navigation" class="row">
      <nav class="primary">
        <ul id="nav" class="desktop-12">
          {% for link in linklists.main-menu.links %}
          <li>{{ link.title | link_to: link.url }}
            {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
            {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
            <div class="arrow-down"></div>
            <ul>
              <div class="arrow-up"></div>
              {% for l in linklists[child_list_handle].links %}
              <li><a href="{{ l.url }}">{{ l.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div> <!-- End Navigation -->

    <script>
      $(function(){
        $('ul#nav').slicknav();
      });  
    </script>


    <div id="content" class="row">

      {% if template != "index" %}
      {% if settings.breadcrumb %}
      {% include 'breadcrumb' %} 
      {% endif %}
      {% endif %}

      {{ content_for_layout }}

    </div> <!-- End Content -->

    <div class="clear"></div>   


  </div> <!-- End wrapper -->

  <div id="footer">
    <div class="container">
      <div id="big-footer" class="row">

        <div class="desktop-4 tablet-2 mobile-3 alpha">
          <h4>{{ 'layout.footer.navigation' | t }}</h4>
          <ul>
            {% for link in linklists.footer.links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="desktop-4 tablet-2 mobile-3">
          <h4>{{ 'layout.footer.signup' | t }}</h4>          
          {% include 'mailing' %}  
        </div>       

        <div id="social-icons" class="desktop-4 tablet-2 mobile-3 omega">
          <h4>{{ 'layout.footer.connect' | t }}</h4>
          {% if settings.show_facebook %}<a href="{{ settings.facebook_url }}"><i class="fa fa-facebook"></i></a>{% endif %}
          {% if settings.show_twitter %}<a href="http://www.twitter.com/{{ settings.twittername }}"><i class="fa fa-twitter"></i></a>{% endif %}
          {% if settings.show_pinterest %} <a href="{{ settings.pinterest_url }}"><i class="fa fa-pinterest"></i></a>{% endif %}
          {% if settings.show_tumblr %} <a href="{{ settings.tumblr_url }}"><i class="fa fa-tumblr"></i></a>{% endif %}
          {% if settings.show_flickr %} <a href="{{ settings.flickr_url }}"><i class="fa fa-flickr"></i></a>{% endif %}
          {% if settings.show_youtube %} <a href="{{ settings.youtube_url }}"><i class="fa fa-youtube"></i></a>{% endif %}
          {% if settings.show_googleplus %} <a href="{{ settings.googleplus_url }}"><i class="fa fa-google-plus"></i></a>{% endif %}
          {% if settings.show_vimeo %} <a href="{{ settings.vimeo_url }}"><i class="fa fa-vimeo-square"></i></a>{% endif %}
          {% if settings.show_rss %} <a href="{{ shop.url }}/blogs/news.atom"><i class="fa fa-rss"></i></a>{% endif %}
          {% if settings.show_linkedin %} <a href="{{ settings.linkedin_url }}"><i class="fa fa-linkedin"></i></a>{% endif %}
          {% if settings.show_instagram %} <a href="http://instagram.com/{{ settings.instagram_name }}"><i class="fa fa-instagram"></i></a>{% endif %}
        </div>


      </div>   

      <div class="row">
        <div id="close" class="desktop-12 mobile-3">
          <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name }} • <a href="http://www.shopifythemes.net" target="_blank" title="Shopify theme">Shopify Theme</a> {{ 'layout.footer.theme_title' | t }} Underground Media • {{ powered_by_link }}</p>
        </div>
      </div>      

    </div>
  </div>
  {% if settings.evil-popup %}
  <script type="text/javascript">

    // Fancybox Join our mailing list popup
    $(document).ready(function(){
      var check_cookie = $.cookie('mailing_list_popup');
      if(check_cookie == null){
        $.cookie('mailing_list_popup', 'expires_three_days', { expires: 3 });
        //fire your fancybox here
        $.fancybox({
          href: "#subscribe_popup"
        });
      }
    }); 

  </script>

  <div style='display:none'>
    <div id='subscribe_popup'>
      <p class="box-title">{{ 'layout.footer.signup' | t }}<p>
      <!-- BEGIN #subs-container -->
      <div id="subs-container" class="clearfix">
        <div id="mc_embed_signup">
          <form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required="" type="email"><input value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit"></form>
        </div>  
      </div>
    </div>
  </div> 
  {% endif %}


  {% include 'ajaxify-cart' %}

  <!-- Begin Recently Viewed Products -->
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}
  <!-- End Recently Viewed Products -->



</body>
</html>