<hr class="invisible compact fs-lg-hide fs-md-hide fs-sm-3">
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
   <div id="product--options" class="fs-row">
      <div class="fs-cell fs-all-full">
         <div class="fs-row">
            <select name="id" id="productSelect" class="product-single__variants select-nostyle">
               {% for variant in product.variants %}
               {% if variant.available %}
               <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

               {% else %}
               <option disabled="disabled">
               {{ variant.title }} - {{ 'products.product.sold_out' | t }}
               </option>
               {% endif %}
               {% endfor %}
            </select>

            <div class="fs-cell fs-all-third selector-wrapper">
               <label>Quantity</label>
               <select id="quantity" name="quantity">
                  {% for i in (1..5) %}
                  <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
               </select>
            </div>

         </div>
      </div>
      <hr class="invisible nomargin fs-cell fs-all-full" />
      {% comment %}
      <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half">
         <label><small>size</small></label>
         <select class="select-nostyle">
            <option>small</option>
            <option>medium</option>
            <option>large</option>
         </select>
      </div>
      <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half">
         <label><small>quantity</small></label>
         <select class="select-nostyle">
            <option>1</option>
            <option>2</option>
            <option>3</option>
         </select>
      </div>
      {% endcomment %}
      <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half">
         <hr class="invisible compact">
         <button type="submit" name="add" id="AddToCart" class="btn btn-primary btn-full ss-gizmo ss-plus right btn-icon">add to cart</button>
      </div>
      <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half">
         <hr class="invisible compact">
         <a href="#" class="btn btn-default btn-full ss-gizmo ss-plus right btn-icon">share</a>
      </div>
   </div>
</form>

<hr class="divider">

<div id="product--desc">
   <p>Le Manteau in Dark Grey by Jacquemus. Oversized wool coat features large notched lapels, an open front with side tie closure, front flap pockets, and small vent at back hem.</p>
   <ul>
      <li>100% wool with 100% polyester lining</li>
      <li>Dry clean only</li>
      <li>Made in France</li>
   </ul>
</div>