{% include 'page-filters' %}

<div id="product" class="fs-row">
   <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-3 fs-right">{% include 'product-info' %}</div>
   <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-3">{% include 'product-images' %}</div>
   <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-3 fs-right">{% include 'product-addl' %}</div>
</div>

{% assign width = 'fs-cell fs-xl-third fs-lg-third fs-md-2 fs-sm-full fs-xs-full fs-contained' %}

<hr class="divider">

<div class="product-grid fs-row">
  <div class="fs-cell fs-all-full">
    <div class="wrapper wrapper_pinned">
      <p class="">Complete the look with these carefully selected compliments.</p>
    </div>
    <div class="product-grid_item {{ width }}">{% include 'product-grid--item' %}</div>
    <div class="product-grid_item {{ width }}">{% include 'product-grid--item' %}</div>
    <div class="product-grid_item {{ width }}">{% include 'product-grid--item' %}</div>
  </div>
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector){};
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0"><small>{{ product.options.first | escape }}</small></label>');
    {% endif %}
    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
    // Disabling out of stock product
    {% if product.options.size == 1 %}
    {% for variant in product.variants %}
    {% unless variant.available %}
    alert('outofstock');
    jQuery('.single-option-selector option:eq({{ forloop.index0 }})').attr('disabled', 'disabled');
    {% endunless %}
    {% endfor %}
    jQuery('.single-option-selector').trigger('change');
    {% endif %}
  });
  setTimeout(function(){
    $('.selector-wrapper').addClass('fs-cell fs-all-third');  
  },500);
</script>