{% include 'page-header' %}
{% include 'page-filters' %}

{% assign width = 'fs-cell fs-xl-fourth fs-lg-third fs-md-2 fs-sm-half fs-xs-half' %}

<div class="product-grid fs-row">
  {% for product in collection.products %}
  <div class="product-grid_item {{ width }}">{% include 'product-grid--item' %}</div>
  {% endfor %}
</div>

<div class="page-modal brand-info swap toggle_linked">
  <div class="centered centered-full">
    <div class="content">
      <div class="fs-row">
        <div class="fs-cell fs-all-full">
          <div class="page-modal--content clearfix bg-color-black">
            <a href="#" class="swap ss-gizmo ss-delete page-modal--close toggle_linked" data-swap-target=".brand-info" data-swap-linked=".toggle_linked"></a>
            <div class="fs-cell fs-lg-7 fs-md-6 fs-sm-3 fs-contained fs-right"><img src="{{ collection.image.src | img_url: '1024x1024' }}" class="img-responsive" /></div>
            <div class="fs-cell fs-lg-5 fs-md-6 fs-sm-3 fs-contained wrapper">
              <span><a href="/?page=collection&name=brands">brands</a></span>
              <h2>{{ collection.title }}</h2>
              {{ collection.description }}
              <hr class="invisible">
              <div class="brand-clips">
                <span class="color-grey">Featured Clips</span>
                {% assign blog = blogs.news %}

                {% capture collectionTitle %}{{ collection.title | handleize }}{% endcapture %}
                {% for article in blog.articles %}
                {% if article.tags contains collectionTitle %}
                <div class="brand-clips--item"><a href="#">{{ article.title }}</a></div>
                {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>