{% include 'page-header' %}

<hr class="invisible">

<div class="fs-row">
    <div class="fs-cell fs-lg-4 fs-md-6 fs-sm-3">
        <h2>Co-te-rie Store</h2>
        <p>
            {% capture about_desc %}about_desc{% endcapture %}
            {% capture about_map %}about_map{% endcapture %}
            {{ settings[about_desc] }}
        </p>
    </div>
    <hr class="fs-cell fs-lg-hide fs-md-6 fs-sm-3 invisible compact">
    <div class="fs-cell fs-lg-7 fs-md-6 fs-sm-3 fs-right">
        <div class="fitted">{{ settings[about_map] }}</div>
        <!--<img src="http://placehold.it/800x475/eeeeee/eeeeee" class="img-responsive">-->
    </div>
</div>

<hr class="invisible big">

<div class="fs-row">
  <div class="fs-cell fs-lg-4 fs-md-6 fs-sm-3">
    <h2>General Inquiries</h2>
    <p>Drop us a line and we'll get back to you asap.</p>
  </div>
  <div class="fs-cell fs-lg-7 fs-md-6 fs-sm-3 fs-right">
    {% form 'contact' %}
    {% if form.posted_successfully? %}
    <p class="note form-success">Nice, thanks for reaching out. We'll be in contact soon. </p>
    {% endif %}

    {{ form.errors | default_errors }}

    {% assign name_attr = 'contact.form.name' | t | handle %}
    {% comment %}<label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>{% endcomment %}
    <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

    {% comment %}<label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>{% endcomment %}
    <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

    {% assign name_attr = 'contact.form.phone' | t | handle %}
    {% comment %}<label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>{% endcomment %}
    <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    {% comment %}<label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>{% endcomment %}
    <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

    {% endform %}

  </div>
</div>

<hr class="invisible">